DB_URL=jdbc:mysql://b0arfjvp1vhkdjcl6bmq-mysql.services.clever-cloud.com:3306/b0arfjvp1vhkdjcl6bmq?useSSL=true&requireSSL=true&serverTimezone=UTC&allowPublicKeyRetrieval=true
DB_USER=uhxge6yizzgqi8ov
DB_PASS=COLOCAR_PASSWORD
JWT_SECRET=COLOCAR_LA_MISMA_CLAVE_DE_LOS_OTROS_SERVICIOS
SERVER_PORT=8084
JPA_DDL_AUTO=update
JPA_SHOW_SQL=false
